.btn {
  appearance: none;
  /* the .interface container has pointer-events: none */
  pointer-events: all;

  border-radius: 40px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;

  height: 70px;
  min-width: 120px;

  display: grid;
  place-content: center;

  font-family: var(--font-tahoma);
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  cursor: pointer;

  transition: 100ms linear color, 100ms linear background-color, 100ms linear border-color;

  &:has(svg) {
    width: 120px;
  }

  :where(svg) {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 3.7px;
  }

  &:active,
  &:hover {
    border-color: var(--color-white);
    background-color: var(--theme-bg, var(--color-blue-70));
    color: var(--color-white);
  }
}

.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-40);
}

.btn--teal {
  background-color: var(--color-teal-70);
  color: var(--color-grey-40);

  &:active,
  &:hover {
    border-color: var(--color-white);
    background-color: var(--color-teal-70);
    color: var(--color-white);
  }
}

.btn--theme {
  background-color: var(--theme-button-bg, var(--color-blue-90));
  color: var(--color-grey-40);
}

/* 'split' buttons are grouped together to prevent them wrapping individually on small screens */
.btn-group--split {
  display: flex;
  gap: 4px;
}

.btn--leftsplit {
  border-radius: 40px 0px 0px 40px;
  width: 140px;
  padding-left: 12px;
}

.btn--rightsplit {
  border-radius: 0px 40px 40px 0px;
  width: 140px;
  padding-right: 12px;
}

.active {
  border-color: var(--color-white);
  background-color: var(--color-blue-70);
  color: var(--color-white);
}

.btn--cool-stripes {
  background-image: repeating-linear-gradient(90deg,
      #002D65,
      #002D65 20px,
      #0682D1 20px,
      #0682D1 40px,
      #04ABDA 40px,
      #04ABDA 60px,
      #38E3E5 60px,
      #38E3E5 80px,
      #27CB6F 80px,
      #27CB6F 100px,
      #05A664 100px,
      #05A664);
}

.btn--warm-stripes {
  background-image: repeating-linear-gradient(90deg,
      #E23A4C,
      #E23A4C 20px,
      #FF0000 20px,
      #FF0000 40px,
      #FE4201 40px,
      #FE4201 60px,
      #FEA701 60px,
      #FEA701 80px,
      #FED900 80px,
      #FED900);
}