.loading-screen {
  --fade-out-duration: 0.4s;

  /* reset browser defaults for <dialog> elements */
  border: none;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  padding: 0;

  /* cover other interface elements like buttons */
  z-index: 1;

  background: var(--color-blue-70);
  color: var(--color-white);

  /* progressive enhancement: in supported browsers, fade out loading screen when the start button is pressed */
  transition: opacity var(--fade-out-duration), display var(--fade-out-duration) allow-discrete;

  &[open] {
    opacity: 1;
  }

  &:not([open]) {
    opacity: 0;
  }
}

.loading-screen__inner {
  width: 80%;
  height: 100%;
  max-width: 500px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-screen__loading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  :where(img) {
    max-width: 400px;
  }

  :where(p) {
    font-size: 4vmax;
    font-family: var(--font-tahoma);
    font-weight: 900;
    text-align: center;
    color: inherit;
  }
}



.loading-screen__start {
  /* reset button styles */
  display: none;
  appearance: none;
  border: none;
  cursor: pointer;

  margin: auto;
  text-align: center;
  vertical-align: middle;

  font-size: min(5vmax, 40px);
  font-family: var(--font-tahoma);
  font-weight: 900;
  /* button dimensions are based on the font size (~500x100px when the font is 40px) */
  border-radius: 1.2em;
  padding-inline: 1.5em;
  padding-block: 0.7em;

  background-color: var(--color-white);
  color: var(--color-blue-70);
  box-shadow: 0px 0px 3px var(--color-white);
}