.loadingclass {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loadImage {
  width: 80%;
}

.startBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: var(--color-white);
  vertical-align: middle;
  color: var(--color-blue-70);
  width: 500px;
  height: 100px;
  border-color: var(--color-white);
  border-radius: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px var(--color-white);
}

.loading {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 4vmax;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: var(--color-blue-70);
  color: var(--color-white);
  width: 80%;
}