.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 0.5rem;

  border-width: medium;
    border-color: black;
    background: white;
}
.grid > div {
  background: white ;
  padding: 1rem;

}

@font-face {
  font-family: AvenirNext;
  src: url("../css/Fonts/AvenirNextLTPro-Regular.otf");
}

body {
  margin: 1rem;
  text-align: center;
  font-size: 1vmax;
  font-family: "AvenirNext";

  letter-spacing: 1px;
  font-weight: 900;


}

.session{
  background: white;
  width:70%;
  padding: 5% 5%;
}

.grid-Dormant{
    opacity: 20%
}

.main{
  width:30%;
}

p, p:visited, p:link{
  margin: 0.25rem 0;
  color: darkgrey;
  text-decoration: none!important;
}
