.u-theme-blue {
  --theme-bg: var(--color-blue-70);
  --theme-button-bg: var(--color-blue-90);

}

.u-theme-green {
  --theme-bg: var(--color-green-80);
  --theme-button-bg: var(--color-green-90);
}

.u-theme-yellow {
  --theme-bg: var(--color-yellow-80);
  --theme-button-bg: var(--color-yellow-90);
}

.u-theme-red {
  --theme-bg: var(--color-red-60);
  --theme-button-bg: var(--color-red-80);
}