html {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background-color: #469ede;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 24px;
}

.sketch {
  height: 100%;
  overscroll-behavior: none;
  position: fixed;
}

.loadingclass {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loadImage{
  width: 80%;
}

.select {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: #4e4e4e;
  color: white;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}

.startBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: white;
  vertical-align: middle;
  color: #469ede;
  width: 500px;
  height: 100px;
  border-color: white;
  border-radius: 45px;


  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px white;
}

.loading {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 4vmax;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: #469ede;
  color: white;
  width: 80%;
}

.box {
  border-width: 0;
  border-color: rgb(200, 200, 200);
  border-radius: 0.7vmax;
}

.bottom-left {
  position: absolute;
  left: 20px;
  bottom: 30px;
  margin: auto;
  height: 70px;
}

.btn {
  color: black;
  border:none;
  background-color: #BEE4FE;
  border-radius: 40px;
  height: 70px;
  width: 120px;
  font-weight: bold;
  font-size: large;
  text-align: center;
  vertical-align: middle;
  justify-content: space-evenly;
  display: none;
}

.button-white {
  background-color: white;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 120px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  text-align: center;
}

.button-white:active, .button-white:hover {
  color: white;
  border: 4px solid white;
  background-color: #419EE2;
  border-radius: 40px;
  height: 70px;
  width: 120px;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.imgbutton-brush1 {
  background-image: url('assets/touchbrush1.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border: none;
  border-radius: 40px;

}

.imgbutton-brush1.active, .imgbutton-brush1:hover  {
  background-image: url('assets/touchbrush1.2.png');
  border: 4px solid white;
}

.active {
  background-color: #419EE2;
  border: 4px solid white;
  color: white;
}

.imgbutton-brush2 {
  background-image: url('assets/touchbrush2.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 120px;
}

.imgbutton-brush2.active, .imgbutton-brush2:hover {
  background-image: url('assets/touchbrush2.2.png');
  border: 4px solid white;
}

.imgbutton-brush3 {
  background-image: url('assets/touchbrush3.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 120px;
}

.imgbutton-brush3.active, .imgbutton-brush3:hover {
  background-image: url('assets/touchbrush3.2.png');
  border: 4px solid white;
}

.right-buttons {
  background-color: #BEE4FE;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 130px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.right-buttons:hover {
  color: white;
  border: 4px solid white;
  background-color: #419EE2;
}