html {
  -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
background-color: #f1b300;
overflow: hidden;
}

body{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: AvenirNext;
  src: url("../css/Fonts/AvenirNextLTPro-Regular.otf");
}

.p5Canvas {
  height: 100%;
 overscroll-behavior: none;
  position: fixed;
}


.loadingclass {
  margin: 0;
position: absolute;
top: 50%;
left: 55%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.loadImage{
  width: 80%;
}

.select {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: #4e4e4e;
  color: white;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}

.toggle {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: #4e4e4e;
  color: white;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}


.startBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 4vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: white;
  color: #f1b300;
  border-color: white;
  border-width: 3px;

  border-style: solid;
  border-radius: 3vmax;
  padding: 3vmax;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px white;
}

.loading {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 4vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: white;
  color: #f1b300;
;
  /* border-radius: 3vmax; */
  width: 80%;
}

.box {
  border-width: 0;
  border-color: rgb(200, 200, 200);
  border-radius: 0.7vmax;
}

.bottom-left {
  position: absolute;
  left: 20px;
  bottom: 30px;
  margin: auto;
  height: 70px;
}

.active {
  background-color: #F3B400;
  border: 4px solid white;
  color: white;
}

.btn {
  color: #4e4e4e;
  border:none;
  background-color: #F3B400;
  border-radius: 40px;
  height: 70px;
  width: 60px;
  font-weight: bold;
  font-size: large;
  text-align: center;
  vertical-align: middle;
  justify-content: space-evenly;
}

.button-white {
  background-color: white;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 140px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.button-white.active, .button-white:hover {
  background-color: #F3B400;
  font-weight: bolder;
  color: white;
  border: 4px solid white;
}

.btn_leftsplit {
  background-color: white;
  border-radius: 40px 0px 0px 40px;
  border: none;
  height: 70px;
  width: 140px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.btn_leftsplit.active, .btn_leftsplit:hover {
  background-color: #F3B400;
  font-weight: bolder;
  color: white;
  border: 4px solid white;
}

.btn_rightsplit {
  background-color: white;
  border-radius: 0px 40px 40px 0px;
  border: none;
  height: 70px;
  width: 140px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.btn_rightsplit.active, .btn_rightsplit:hover {
  background-color: #F3B400;
  font-weight: bolder;
  color: white;
  border: 4px solid white;
}

.right-buttons {
  background-color: #EAD39E;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 140px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}

.right-buttons:hover {
  background-color: #F3B400;
  border: 4px solid white;
  color: white;
}