html {
  -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
background-color: #1f2b45;
overflow: hidden;
}

@font-face {
  font-family: AvenirNext;
  src: url("../css/Fonts/AvenirNextLTPro-Regular.otf");
}
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 24px;
}

.p5Canvas {
  height: 100%;
 overscroll-behavior: none;
  position: fixed;
}


.loadingclass {
  margin: 0;
position: absolute;
top: 50%;
left: 55%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.loadImage{
  width: 80%;
}

.selectActive {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: White;
  color: #4e4e4e;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}

.select {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: #4e4e4e;
  color: white;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}

.select2 {
  background-color: white;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 120px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.select2:active, .select2:hover {
  color: white;
  border: 4px solid white;
  background-color: #89a1d6;
  border-radius: 40px;
  height: 70px;
  width: 120px;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.selectActive {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: #474c57;
  color: White;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}

.toggle {
  font-size: 1vmax;
  font-family: "AvenirNext";
  letter-spacing: 1px;
  font-weight: 1200;
  background-color: #4e4e4e;
  color: white;
  border-width: 3;
  border-radius: 0.7vmax;
  width: 13vmax;
  height: 4vmax;
  font-size: 1.7vmax;
  height: 5vmax;
  touch-action: none;
}


.startBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  background-color: white;
  vertical-align: middle;
  color: #1f2b45;
  width: 500px;
  height: 100px;
  border-color: white;
  border-radius: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px white;
}

.loading {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-size: 4vmax;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  color: white;
  background-color: #1f2b45;
;
  /* border-radius: 3vmax; */

  width: 80%;


}

.box {
  border-width: 0;
  border-color: rgb(200, 200, 200);
  border-radius: 0.7vmax;
}

.right-buttons {
  background-color: #B8C3DB;
  border-radius: 40px;
  border: none;
  height: 70px;
  width: 130px;
  font-size: 1.7vmax;
  letter-spacing: 1px;
  color: #4e4e4e;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.right-buttons:hover {
  color: white;
  border: 4px solid white;
  background-color: #89a1d6;
}