.u-theme--grey {
  --theme-bg: var(--color-grey-60);
  --theme-button-bg: var(--color-grey-90);
  --theme-button-border: var(--color-grey-60);
}

.u-theme--red {
  --theme-bg: var(--color-red-60);
  --theme-button-bg: var(--color-red-80);
  --theme-button-border: var(--color-red-60);
}

.u-theme--orange {
  --theme-bg: var(--color-orange-70);
  --theme-button-bg: var(--color-orange-90);
  --theme-button-border: var(--color-orange-70);
}

.u-theme--yellow {
  --theme-bg: var(--color-yellow-80);
  --theme-button-bg: var(--color-yellow-90);
  --theme-button-border: var(--color-yellow-70);
}

.u-theme--green {
  --theme-bg: var(--color-green-80);
  --theme-button-bg: var(--color-green-90);
  --theme-button-border: var(--color-green-70);
}

.u-theme--teal {
  --theme-bg: var(--color-teal-70);
  --theme-button-bg: var(--color-teal-90);
  --theme-button-border: var(--color-teal-70);

}

.u-theme--blue {
  --theme-bg: var(--color-blue-70);
  --theme-button-bg: var(--color-blue-90);
  --theme-button-border: var(--color-blue-70);

}

.u-theme--slate {
  --theme-bg: var(--color-slate-30);
  --theme-button-bg: var(--color-slate-80);
  --theme-button-border: var(--color-slate-60);
}

.u-hide {
  display: none;
}